-
  - {{{exportField "street"}}} # Straat
  - {{{exportField "number"}}} # Huisnummer
  - {{{exportField "numberAddition"}}} # Huisnummertoevoeging
  - {{{exportField "postalcode"}}} # Postcode
  - {{{exportField "city"}}} # Woonplaats
  - {{{exportField "sex"}}} # Geslacht
  - {{{exportField "name"}}} # Voorletters
  - {{{exportField "preposition"}}} # Tussenvoegsel
  - {{{exportField "surname"}}} # Achternaam
  - {{{exportField "telephone"}}} # Telefoon
  - {{{exportField "email"}}} # Email
  - {{{exportField "dateOfBirth"}}} # Geboortedatum
  - {{{exportField "bankAccount"}}} # IBAN nummer
  - {{{exportField "status"}}} # Status
  - {{{exportField "status:NG:reason"}}} # REDEN NG
  - {{{exportField "status:SALE:usageInputManual"}}} # Verbruik ophalen
  - {{{exportField "status:SALE:addonThuisvoordeel"}}} # Thuisvoordeel
  # {{#if isEssentHofMain}}
  - {{{exportField "status:SALE:addonZiggo"}}} # Ziggo
  - {{{exportField "status:SALE:addonVodafone"}}} # Vodafone
  # {{/if}}
  - {{{exportField "status:SALE:addonSO"}}} # SenO
  # {{#if hhOnly}}
  - {{{exportField "status:SALE:addonIsolatie"}}} # Isolatie
  - {{{exportField "status:SALE:addonZonnenpanelen"}}} # Zonnenpanelen
  # {{/if}}
  # {{#unless hhOnly}}
  - {{{exportField "status:SALE:customerType:Company:product:EG:proposition"}}} # Propositie
  # {{/unless}}
  - {{{exportField "status:SALE:customerType:individual:product:EG:proposition"}}} # Propositie
  - {{{exportField "status:SALE:manuallyProvideConsumption"}}} # Verbruik handmatig aanpassen
  - {{{exportField "status:SALE:manuallyProvideAmount"}}} # Termijnbedrag handmatig aanpassen
  - {{{exportField "status:SALE:electricityConsumption"}}} # Verbruik E normaal
  - {{{exportField "status:SALE:electricityConsumptionOffPeak"}}} # Verbruik E dal
  - {{{exportField "status:SALE:gasConsumption"}}} # Verbruik G
  - {{{exportField "status:SALE:electricityConsumptionCar"}}} # ELEKTRICITEITSVERBRUIK CAR
  - {{{exportField "status:SALE:electricityConsumptionOffPeakCar"}}} # ELEKTRICITEITSVERBRUIK DAL CAR
  - {{{exportField "status:SALE:gasConsumptionCar"}}} # GASVERBRUIK CAR
  - {{{exportField "status:SALE:newContractStartDateStroom"}}} # Startdatum Essent stroom
  - {{{exportField "status:SALE:currentContractEndDateGas"}}} # Einddatum huidige leverancier gas
  - {{{exportField "status:SALE:newContractStartDateGas"}}} # Startdatum Essent gas
  - {{{exportField "status:SALE:agreedBudgetBillAmount"}}} # Termijnbedrag
  - {{{exportField "status:SALE:agreedBudgetBillAmountManual"}}} # Termijnbedrag handmatig
  - {{{exportField "status:DEMO:reason"}}} # REDEN DEMO
  - {{{exportField "status:CANCEL:reason"}}} # REDEN CANCEL
  - {{{exportField "status:CANCEL:futureContact"}}} # Opt-in vervolgcontact CANCEL
  - {{{exportField "status:OVK:usageInputManual"}}} # Verbruik ophalen
  - {{{exportField "status:OVK:addonThuisvoordeel"}}} # Thuisvoordeel
  # {{#if isEssentHofMain}}
  - {{{exportField "status:OVK:addonZiggo"}}} # Ziggo
  - {{{exportField "status:OVK:addonVodafone"}}} # Vodafone
  # l{{/if}}
  - {{{exportField "status:OVK:addonSO"}}} # SenO
  # {{#unless hhOnly}}
  - {{{exportField "status:OVK:customerType:Company:product:EG:proposition"}}} # Propositie
  # {{/unless}}
  - {{{exportField "status:OVK:customerType:individual:product:EG:proposition"}}} # Propositie
  - {{{exportField "status:OVK:manuallyProvideConsumption"}}} # Verbruik handmatig aanpassen
  - {{{exportField "status:OVK:manuallyProvideAmount"}}} # Termijnbedrag handmatig aanpassen
  - {{{exportField "status:OVK:electricityConsumption"}}} # Verbruik E normaal
  - {{{exportField "status:OVK:electricityConsumptionOffPeak"}}} # Verbruik E dal
  - {{{exportField "status:OVK:gasConsumption"}}} # Verbruik G
  - {{{exportField "status:OVK:electricityConsumptionCar"}}} # ELEKTRICITEITSVERBRUIK CAR
  - {{{exportField "status:OVK:electricityConsumptionOffPeakCar"}}} # ELEKTRICITEITSVERBRUIK DAL CAR
  - {{{exportField "status:OVK:gasConsumptionCar"}}} # GASVERBRUIK CAR
  - {{{exportField "status:OVK:newContractStartDateStroom"}}} # Startdatum Essent stroom
  - {{{exportField "status:OVK:currentContractEndDateGas"}}} # Einddatum huidige leverancier gas
  - {{{exportField "status:OVK:newContractStartDateGas"}}} # Startdatum Essent gas
  - {{{exportField "status:OVK:agreedBudgetBillAmount"}}} # Termijnbedrag
  - {{{exportField "status:OVK:agreedBudgetBillAmountManual"}}} # Termijnbedrag handmatig
  - {{{exportField "verificationNumber"}}} # Inbelcode
  - {{{exportField "cancelContactMethod"}}} # Contactmiddelen CANCEL
